.core-feature{


    margin-top: 90px;
    margin-bottom: 180px;
    .text{
    .sub-title{
        
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 40px;
        letter-spacing: 2.1px;
        text-transform: uppercase;
        color: #EA3A60;
        border: 0;
        padding-top: 10px;
        padding-bottom: 8px;

    }

    .title{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 55px;
        letter-spacing: -1.5px;
        color: #0F2137;
        max-width: 460px;



    }

    .description{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 42px;
        color: #02073E;
        max-width: 424px;
        padding-top: 40px;
        padding-bottom: 30px;

    }


    .core-feature-btn{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.16px;
        color: #FFFFFF;
        padding: 13px 31px;
        background-color: #EA3A60;
        border-radius: 50px;
        border: 0;
     


    }
}
    .core-feature-img-box{


        .core-feture-img{
        width: 100%;        
    }
    position: relative;
    &::after {
        position: absolute;
        content: "";
        bottom: -40px;
        right: -50px;
        height: 100%;
        width: 100%;
        z-index: -1;
        background-image: url(../img/core-feature/shape.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 32%;
    }

 
  
}


}