.feature-quality{

    .feature-quality-sub-title{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 40px;
         letter-spacing: 2.1px;
        text-transform: uppercase;
        color: #EA3A60;

    }

    .feature-quality-title{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 55px;
        text-align: center;
        letter-spacing: -1.5px;
        margin-bottom: 110px;



    }

   
    .feature-quality-card{

        .feature-quality-card-icon{
            
        }
        .col-5{
            padding-left: 35px;
        .feature-quality-card-title{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
            color: #0F2137;
            margin-bottom: 25px;
            

        }

        .feature-quality-card-description{

            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 30px;
            color: #343D48;
            margin-bottom: 90px;
     

        }
    }
}
}