.goal{
    margin-bottom: 180px;
    position: relative;
    ::before {
        position: absolute;
        content: "";
        bottom:70px;
        top: 60px;
        left: -123px;
        height: 100%;
        width: 100%;
        z-index: -1;
        background-image: url(../img/goal/shape.png);
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 36%;
    }

    .row{

        .col-7{
           
         


  
    .vedio-frame{
        
       
    }
    .vedio{

    }
}
}

.col-5{

    padding-left: 40px;
.goal-sub-title{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #EA3A60;

}

.goal-title{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: -1.5px;
    color: #0F2137;
    margin: auto 14px 38px auto;

}

.goal-card{
    margin-bottom: 60px;
    .goal-card-img{

    }
    .goal-card-title{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        color: #0F2137;
       


    }

    .goal-card-description{

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 26px;
        color: #343D48;
        max-width: 300px;
       
     
    }

}
}



}